{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <h2>
        Select difficulty:
    </h2>
    <a href="/easy"><button type="button" class="btn btn-secondary btn-lg">Easy</button></a>
    <a href="/medium"><button type="button" class="btn btn-secondary btn-lg">Medium</button></a>
    <a href="/hard"><button type="button" class="btn btn-secondary btn-lg">Hard</button></a>
    <a href="/extreme"><button type="button" class="btn btn-secondary btn-lg">Extreme</button></a>
    
{% endblock %}